<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vue-table stress test</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.0/css/toastr.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div id="app">
      <b-navbar toggleable="md" type="dark" variant="info" v-cloak>
        <b-navbar-nav>
          <b-nav-item href="#">DataA</b-nav-item>
          <!--b-nav-item(href="#") DataB-->
        </b-navbar-nav>
      </b-navbar>
      <table-component :table-data="tableData" resizable inline-template :loading-completed="loadingCompleted" v-cloak>
        <div v-if="!loadingCompleted" class="loading"></div>
        <b-container v-else fluid @mouseup="onMouseUp">
          <!--b-breadcrumbb-breadcrumb-item Data A 
          -->
          <div class="btn">Items &nbsp;<span class="badge badge-light">{{filteredData.length}}</span></div>
          <div class="btn">Shown &nbsp;<span class="badge badge-light">{{items.length}}</span></div>
          <div v-show="loadMode !== 'all'" class="btn">Pages &nbsp; <span class="badge badge-light">{{totalPages}}    </span></div>
          <b-row>
            <b-col sm="3">
              <b-form-input v-model="search" placeholder="Search"> </b-form-input>
            </b-col>
            <b-col sm="3">
              <b-form-select v-model="loadMode" @change="resetProperties">
                <option value="pagination">Pagination</option>
                <option value="lazyLoad">Lazyload</option>
                <option value="handle">Handle load</option>
                <option value="all">No limit</option>
              </b-form-select>
            </b-col>
            <b-col sm="3" v-if="selectedRows.length">
              <b-button v-if="showOnlySelected" title="Show all" @click="showOnlySelected = !showOnlySelected">
                 
                Show all data
              </b-button>
              <b-button v-else title="Show only selected items" @click="showOnlySelected = !showOnlySelected">
                 
                Show {{selectedRows.length}} selected rows
              </b-button>
            </b-col>
            <b-col sm="3" v-show="loadMode !== 'all'">Rows per page
              <b-form-input v-model="rowsPerPage" type="number" size="sm"></b-form-input>
            </b-col>
          </b-row>
          <table :class="{resizable: resizable}" class="table table-striped">
            <colgroup>
              <col v-for="name in columnNames" :name="name" :style="{width: columnSizes[name] + 'px'}">
            </colgroup>
            <thead>
              <template v-for="name in columnNames">
                <th @mousedown.stop="onMouseDown" @mousemove.stop.prevent="onMouseMove" :name="name">{{name}}</th>
              </template>
            </thead>
            <tbody v-show="items.length">
              <tr v-for="item in items" :class="{selected: selected[item.id]}" :key="'tr'+item.id">
                <td v-for="(value, key, index) in item"> 
                  <template v-if="key == 'id'">
                    <input type="checkbox" name="selectedRows" v-model="selectedRows" :value="value">
                    <div :style="{'background-color': markers[item.status]}" class="circle_status"></div>
                  </template>
                  <template v-else-if="key == 'status'">
                    <select v-model="item.status" class="custom-select">
                      <option v-for="(status, index) in statuses" :value="index">{{status}}</option>
                    </select>
                  </template>
                  <template v-else>{{value}}    </template>
                </td>
              </tr>
            </tbody>
          </table>
          <p v-show="!items.length &amp;&amp; loadingCompleted">No data found  </p>
          <b-pagination v-show="loadMode == 'pagination' &amp;&amp; totalPages &gt; 1" size="md" :total-rows="filteredData.length" v-model="page" :per-page="rowsPerPage"></b-pagination>
          <b-button v-show="loadMode == 'handle'" variant="info" @click="loadMoreCounter++" :disabled="filteredData.length == items.length">Load more</b-button>
        </b-container>
      </table-component>
      <!--include table-vue-component.jade-->
      
    </div>
  </body>
  <script src="//cdn.jsdelivr.net/npm/vue@2.5.12/dist/vue.js"></script>
  <script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <script src="//cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
  <script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <!--script(src='//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')-->
  <!--script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')-->
  <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <!--script(src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.0/js/toastr.min.js')-->
  <script src="./js/table-component.js">   </script>
  <script src="./js/main.js">   </script>
</html>