doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title vue
    
        // <link rel="stylesheet" href="css/style.css">
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        link(rel="stylesheet" href="./css/style.css")
    body
        #app-5
            p {{ message }}
            p Изначальное сообщение: {{ message }}
            p Сообщение задом наперёд: {{ reversedMessage }}
            button(v-on:click="reverseMessage") Перевернуть сообщение
            input(v-model="message")
            p Задайте вопрос, на который можно ответить "да" или "нет":
            input(v-model="question")
            p {{ answer }} + {{obj}}
            template(v-if="ok")
                h1 Заголовок
                p Абзац 1
                p Абзац 2
            
            h1 {{time}}
            table-component(:table-data="tableData", resizable, inline-template)
                .content
                    input(v-model="search") 
                    | {{columnNames}}
                    table.table.table-bordered(:class="{resizable: resizable}", v-show="!emptyTable")
                        thead
                            template(v-for="header in Object.keys(tableData[0])")
                                th(@mousedown="setCurrentTarget($event)", @mousemove="resizeColumn($event)") {{header}}
                        tbody
                             tr(v-for="item in filteredData" )
                                 td(v-for="value in item") {{value}}
                                    
                    p(v-show="emptyTable") No data found             

            
            //script(type="text/x-template" id="table-component")
                table.table.table-bordered
                    thead
                        template(v-for="header in Object.keys(tableData[0])")
                            th(@mousedown="setCurrentTarget($event)", @mousemove="resizeColumn($event)") {{header}}
                    tbody
                        template(v-for="item in tableData")
                            tr
                                td(v-for="(key, value) in item") {{value}}
            

        #first
            .background
                #scroll Включить скролл
                #container  
                    .item(v-for="item in items")
                        img(:src="item.image")
                        .rating
                        i.active
                        p.title {{item.title}}
                        .descr {{item.paragraph}}
                #more Показати ще
                #scroll_to_top GO UP!

            //blog-post(v-for='post in posts', :key='post.id', v-bind='post', @growth='upText', :style="{ fontSize: postFontSize + 'em' }")
                | {{post.title}}
                //blog-post(:title="post.title + ' написанный ' + post.author")
            //div {{person}}
            button(@click='setZero') Ome gjssss    
            button(@click='setTrue') Two
            button-counter(:title-string="aaa", title="klkkkk", :object="posts", v-bind="person")
            base-input(v-model="person" class="username-input", label="simple input test" placeholder="Enter your username")
            //ul
                li(v-for='prod in list', :key='prod.id')
                | {{prod.content}}
                button {{prod.content}}
          //ul
        //li(v-for='item in items') {{item.title}}
     
      //form.col-4
        .form-group.ppp
          label(for='email') Email address
          input#email.form-control(v-model='email', aria-describedby='emailHelp', placeholder='Enter email', type='email')
          small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
        .form-group
          label(for='password') Password
          input#password.form-control(placeholder='Password', v-model='password', type='password')
        .form-check
          input#checkbox.form-check-input(v-model='checkbox', type='checkbox')
          label.form-check-label(for='checkbox') Check me out
        p.alert.alert-info Checked: {{checkbox}}
        .form-group
          label(for='state') Selet box
          select#state.form-control(v-model='selected')
            option(v-for='option in options', :value='option.value') {{option.text}}
          p.alert.alert-info Selected: {{selected}}
        fieldset.form-group
          .row
            legend.col-form-label.col-sm-2.pt-0 Radios
            .col-sm-10
              .form-check
                input#gridRadios1.form-check-input(name='gridRadios', value='option1', v-model='radio', type='radio')
                label.form-check-label(for='gridRadios1')
                  | First radio
              .form-check.iio
                input#gridRadios2.form-check-input(name='gridRadios', v-model='radio', value='option2', type='radio')
                label.form-check-label(for='gridRadios2')
                  | Second radio
              .form-check.disabled
                input#gridRadios3.form-check-input(name='gridRadios', v-model='radio', value='option3', disabled='', type='radio')
                label.form-check-label(for='gridRadios3')
                  | Third disabled radio
          p.alert.alert-info Выбрано: {{ radio }}
        button.btn.btn-primary(type='submit') Submit

    //script(src='//cdn.jsdelivr.net/npm/vue')
    script(src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")
    script(src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1")
    script(src="//cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js")
    script(src="//cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js")
    // <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    script(src='//code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
    script(src='./main.js')
    //script(src='./omg.js')
    
